.itemDetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
    gap: 1rem;
    background-color: #f4f4f42f;
    backdrop-filter: blur(4px);
}

.galleryContainer {
    display: flex;
    width: max-content;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}

.galleryImageOptions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.galleryImageOptions img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.galleryMainImage{
    width: 35vw;
}

.galleryMainImage img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.itemDetailTitle {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.itemDetailPrice-light {
    font-size: 1.25rem;
    color: #333;
    margin: 0.5rem 0;
}
.itemDetailPrice-dark {
    font-size: 1.25rem;
    color: goldenrod;
    margin: 0.5rem 0;
}

.itemDetailDescription-light {
    margin-bottom: 1rem;
    color: #666;
}
.itemDetailDescription-dark {
    margin-bottom: 1rem;
    color: #ffffff;
}

.featuresContainer{
    padding: 1rem 0;
}

.features-light{
    list-style-type: none;
    color: rgb(93, 93, 93);
    padding-left: .5rem;
    padding-top: .5rem;
}

.features-dark{
    list-style-type: none;
    color: rgb(255, 255, 255);
    padding-left: .5rem;
    padding-top: .5rem;
}

.itemStock-light{
    font-size: x-small;
    color: #3b3232bc;
    display: inline-block;
}
.itemStock-dark{
    font-size: x-small;
    display: inline-block;
    color: rgb(144, 214, 74);
}

.conditionalButtons{
    display: flex;
    gap: .5rem;
}

.goCartButton{
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    text-shadow: .25px .25px 1px black ;
    font-weight: 500;
    background-color: rgb(1, 181, 1);
    padding: .4rem;
}

.goCartButton:visited{
    color: white;
    text-decoration: none;
}

.goCartButton:hover{
    background-color: rgb(3, 168, 3);
}


@media (max-width: 1024px){
    .galleryContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 1rem;
        overflow: hidden;
    }

    .galleryImageOptions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .galleryImageOptions img{
        width: 4rem;
        height: 4rem;
    }

    .galleryMainImage{
        width: 100%;
    }

    .galleryMainImage img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .itemDetailContainer {
        display: flex;
        gap: 1rem;
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: center;
    }
    .infoContainer {
        align-items: center;
        text-align: center;
    }
    .itemDetailTitle, .itemDetailPrice, .itemDetailDescription {
        text-align: center;
    }
}

@media (max-width: 425px){
    .galleryMainImage{
        width: 100%;
    }
}