.cardButtons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.cardItemQuantity{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cardItemQuantity button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    align-items: center;
}
.addToCartButton{
    color: white;
    border: 0;
    border-radius: 5px;
    text-shadow: .25px .25px 1px black ;
    font-weight: 500;
    background-color: rgb(1, 181, 1);
    padding: .4rem;
}
.addToCartButton:hover{
    background-color: rgb(3, 168, 3);
}