*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  
}
h2{
  color: rgb(1, 181, 1);
  font-size: large;
  text-shadow: .25px .25px 1px black;
}

@media (max-width: 768px) {
  body {
      background-position: left;
  }
}